/*variable=es un espacio de memoria reservado, para alojar un dato*/
/** mixins son bloques de propiedades y valores que podemos generar y repetir a lo largo del proyecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.hero {
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 120px;
  padding-bottom: 30px; }

.container {
  padding-top: 80px; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
  position: absolute;
  z-index: 1; }

.navbar li {
  display: inline; }

.navbar li:hover {
  transform: scale(1.05); }

a {
  text-decoration: none; }

/*.navbar #toggle{
    display: none;
}*/
.introduccion {
  font-family: yessy;
  color: #867070;
  word-spacing: 15px;
  font-weight: 300px;
  text-align: center; }

/**
font-family: 'Roboto', sans-serif;
font-family: 'Ysabeau', sans-serif;*/
/*@font-face {
    font-family: yessy;
    src: url(../assets/fonts/Yessy\ Font\ by\ Situjuh\ \(7NTypes\).ttf);
}*/
.carousel-caption {
  color: white;
  align-items: center; }

.carousel {
  word-spacing: 15px;
  text-align: center;
  font-size: 70px;
  font-family: yessy; }

.text-focus-in {
  font-size: 70px;
  -webkit-animation: text-focus-in 1.5s ease-out;
  animation: text-focus-in 1.5s ease-out; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.cards {
  display: flex;
  padding-top: 100px;
  gap: 10px; }

.card {
  border: none;
  justify-content: center;
  text-align: center; }

.btn {
  align-items: center;
  background-color: #d5b4b4; }

.card:hover {
  transform: scale(1.02); }

.cards2 {
  display: flex; }

.card-title {
  text-align: center;
  font-family: yessy;
  font-size: 30px; }

.cards2 {
  padding-top: 50px;
  gap: 10px; }

.titulo {
  font-family: yessy;
  font-size: 40px; }

.button {
  padding-left: 20px; }

@media (max-width: 1024px) {
  .navbar {
    text-align: center; } }

@media (max-width: 768px) {
  .cards {
    display: inline; }
  .galeria-container-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria-container-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; }
  .galeria-container-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3; }
  .galeria-container-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5; }
  .cards2 {
    display: inline; } }

@media (max-width: 425px) {
  .galeria-container-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7; }
  .galeria-container-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5; }
  .galeria-container-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5; }
  .galeria-container-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
    height: 50%;
    padding-top: 150px;
    padding-bottom: 60px; }
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 300px;
    grid-gap: 15px; }
  .contacto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 250vh; }
  .envios {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6; }
  .contacto2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; }
  .mapa {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 200px; }
  .formulario {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 0px; } }

@media (max-width: 375px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 300px;
    grid-gap: 15px; }
  .galeria-container-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 7; }
  .galeria-container-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria-container-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3; }
  .galeria-container-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6; }
  .contacto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vh; }
  .envios {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7; }
  .contacto2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 2;
    margin-top: 80px; }
  .mapa {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 200px; }
  .formulario {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 50px; } }

@media (max-width: 320px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 300px;
    grid-gap: 15px; }
  .galeria-container-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 7; }
  .galeria-container-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; }
  .galeria-container-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3; }
  .galeria-container-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6; }
  .contacto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vh; }
  .envios {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7; }
  .contacto2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 2;
    margin-top: 80px; }
  .mapa {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 200px; }
  .formulario {
    margin-left: 70px; } }

.hero {
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 120px;
  padding-bottom: 30px; }

.container {
  padding-top: 80px; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
  position: absolute;
  z-index: 1; }

.navbar li {
  display: inline; }

.navbar li:hover {
  transform: scale(1.05); }

a {
  text-decoration: none; }

/*.navbar #toggle{
    display: none;
}*/
.introduccion {
  font-family: yessy;
  color: #867070;
  word-spacing: 15px;
  font-weight: 300px;
  text-align: center; }

.contacto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repear(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-content: center;
  background-image: url(../assets/img/mini-tarta-lemon.jpg);
  background-size: cover;
  height: 100vh; }

.envios {
  font-family: yessy;
  display: grid;
  font-size: 16px;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5; }

.contacto2 {
  font-family: yessy;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 80px; }

.pueblo, .horario, .telefonos {
  display: flex;
  gap: 15px; }

.formulario {
  display: grid;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-content: center;
  justify-content: center;
  margin-left: 250px; }

.masInformacion {
  font-family: yessy; }

.mapa {
  display: grid;
  object-fit: cover;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 200px; }

.nosotros {
  font-family: yessy;
  display: flex;
  color: #867070;
  padding-top: 150px;
  margin-top: 10px;
  justify-content: center; }

.grid {
  display: grid;
  grid-template-columns: repeat 6, 1fr;
  grid-template-rows: 100px 300px;
  gap: 15px;
  justify-content: center;
  align-content: center; }

.galeria-item {
  width: 100%;
  height: 100%;
  position: relative; }

.galeria-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.galeria-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out; }

.galeria-item:hover .image img {
  transform: scale(1.5); }

.galeria-container-1 {
  text-align: justify;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7; }

.galeria-container-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4; }

.galeria-container-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.galeria-container-4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4; }

.titulo2 {
  font-family: yessy;
  color: #867070;
  display: grid;
  justify-content: center;
  padding-top: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.titulo3 {
  font-family: yessy;
  color: #867070;
  display: grid;
  justify-content: center;
  margin-top: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4; }

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 100%; }

.contenedor {
  width: 100%;
  height: 250px;
  background-image: url(../assets/img/cookie.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.descuento {
  padding-top: 100px;
  text-align: center; }

.oferta {
  text-align: center;
  background-color: #e4d0d0;
  padding-bottom: 20px;
  padding-top: 20px; }

.vendidos {
  font-family: yessy;
  padding-top: 50px;
  color: #867070;
  text-align: center; }

.redesSociales {
  margin: 60px;
  display: inline;
  position: fixed;
  bottom: 0;
  right: 0; }
