/*variable=es un espacio de memoria reservado, para alojar un dato*/
/** mixins son bloques de propiedades y valores que podemos generar y repetir a lo largo del proyecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*.hero{
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 120px;
    padding-bottom: 30px;
}
.container{
    padding-top: 80px;
}
.navbar{
    @include flex(row,wrap,space-between,center,40px);
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.navbar li{
    display: inline;
}
.navbar li:hover{
    transform: scale(1.05);
}
a{
    text-decoration: none;
}
/*.navbar #toggle{
    display: none;
}*/
.introduccion {
  font-family: yessy;
  color: #867070;
  word-spacing: 15px;
  font-weight: 300px;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-wraper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem; }

nav .logo {
  font-weight: 700; }

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; }

nav a {
  text-decoration: none;
  color: #867070; }

nav #toggle, nav label {
  display: none; }

@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5 rem 0; }
  nav label {
    display: inline-flex;
    color: #cc7878;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  /**todo lo que venga despues del toggle se despliegue*/ }

.introduccion {
  font-family: yessy;
  color: #867070;
  word-spacing: 15px;
  font-weight: 300px;
  text-align: center; }

/**
font-family: 'Roboto', sans-serif;
font-family: 'Ysabeau', sans-serif;*/
/*@font-face {
    font-family: yessy;
    src: url(../assets/fonts/Yessy\ Font\ by\ Situjuh\ \(7NTypes\).ttf);
}*/
.carousel-caption {
  color: white;
  align-items: center; }

.carousel {
  word-spacing: 15px;
  text-align: center;
  font-size: 70px;
  font-family: yessy; }

.text-focus-in {
  font-size: 70px;
  -webkit-animation: text-focus-in 1.5s ease-out;
  animation: text-focus-in 1.5s ease-out; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.cards {
  display: flex;
  margin-left: 40px;
  padding-top: 100px;
  gap: 50px; }

.card {
  border: none;
  justify-content: center;
  text-align: center; }

.btn {
  align-items: center;
  background-color: #d5b4b4; }

.card:hover {
  transform: scale(1.02); }

.cards2 {
  display: flex; }

.card-title {
  text-align: center;
  font-family: yessy;
  font-size: 30px; }

.cards2 {
  padding-top: 50px;
  gap: 50px;
  margin-left: 40px; }

.titulo {
  font-family: yessy;
  font-size: 40px; }

.button {
  padding-left: 20px; }

@media (max-width: 1024px) {
  .navbar {
    text-align: center; }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cards2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .text-bg-dark {
    width: fit-content; } }

@media (max-width: 768px) {
  .navbar {
    text-align: center; }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card-img, .card-img-bottom, .card-img-top {
    display: flex;
    align-self: center; }
  .cards2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .text-bg-dark {
    background-color: white;
    width: fit-content; }
  .grid-galeria {
    margin-right: 15px; } }

@media (max-width: 425px) {
  .navbar {
    text-align: center; }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card-img, .card-img-bottom, .card-img-top {
    display: flex;
    align-self: center; } }

@media (max-width: 375px) {
  .navbar {
    text-align: center; }
  .formulario {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px; } }

@media (max-width: 320px) {
  .navbar {
    text-align: center; } }

/*.hero{
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 120px;
    padding-bottom: 30px;
}
.container{
    padding-top: 80px;
}
.navbar{
    @include flex(row,wrap,space-between,center,40px);
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.navbar li{
    display: inline;
}
.navbar li:hover{
    transform: scale(1.05);
}
a{
    text-decoration: none;
}
/*.navbar #toggle{
    display: none;
}*/
.introduccion {
  font-family: yessy;
  color: #867070;
  word-spacing: 15px;
  font-weight: 300px;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-wraper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem; }

nav .logo {
  font-weight: 700; }

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; }

nav a {
  text-decoration: none;
  color: #867070; }

nav #toggle, nav label {
  display: none; }

@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5 rem 0; }
  nav label {
    display: inline-flex;
    color: #cc7878;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  /**todo lo que venga despues del toggle se despliegue*/ }

.introduccion {
  font-family: yessy;
  color: #867070;
  word-spacing: 15px;
  font-weight: 300px;
  text-align: center; }

.contacto {
  background-image: url(../assets/img/mini-tarta-lemon.jpg);
  background-size: cover;
  height: 70vh; }

.envios {
  font-family: yessy;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-left: 80px; }

.contacto2 {
  font-family: yessy;
  display: flex;
  margin-top: 10px;
  margin-left: 10px; }

.pueblo, .horario, .telefonos {
  display: flex;
  gap: 15px; }

.formulario {
  object-fit: cover;
  align-content: center;
  justify-content: center;
  display: flex; }

.fieldset {
  gap: 10px; }

.masInformacion {
  font-family: yessy; }

.mapa {
  display: flex;
  object-fit: cover;
  justify-content: center; }

.nosotros {
  font-family: yessy;
  display: flex;
  color: #867070;
  padding-top: 50px;
  margin-top: 10px;
  justify-content: center; }

.parrafo {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.grid-galeria {
  display: grid;
  grid-template-columns: repeat 6, 1fr;
  grid-template-rows: 100px 300px;
  gap: 15px;
  justify-content: center;
  align-content: center;
  margin-top: 20px; }

.galeria-item {
  width: 100%;
  height: 100%;
  position: relative; }

.galeria-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.galeria-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out; }
  .galeria-item .image img:hover {
    transform: scale(1.5); }

.galeria-container-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4; }

.galeria-container-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.galeria-container-4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4; }

.titulo2 {
  font-family: yessy;
  color: #867070;
  display: grid;
  justify-content: center;
  padding-top: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.titulo3 {
  font-family: yessy;
  color: #867070;
  display: grid;
  justify-content: center;
  margin-top: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4; }

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 100%; }

.contenedor {
  width: 100%;
  height: 250px;
  background-image: url(../assets/img/cookie.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.descuento {
  padding-top: 100px;
  text-align: center; }

.oferta {
  text-align: center;
  background-color: #e4d0d0;
  padding-bottom: 20px;
  padding-top: 20px; }

.vendidos {
  font-family: yessy;
  padding-top: 50px;
  color: #867070;
  text-align: center; }

.redesSociales {
  margin: 60px;
  display: inline;
  position: fixed;
  bottom: 0;
  right: 0; }
