
  .titulo2 {
    @include tipografia;
    color: $color-principal;
    display: grid;
    justify-content: center;
    padding-top: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .titulo3 {
    @include tipografia;
    color: $color-principal;
    display: grid;
    justify-content: center;
    margin-top: 100px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 100%;
}