


.contacto{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url(../assets/img/mini-tarta-lemon.jpg);
    background-size: cover;
}
.envios{
    display: grid;
    font-size: 16px;
    font-family: yessy;
    color: rgba(134, 112, 112, 1);
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.contacto2{
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.formulario{
    padding-top: 30px;
    display: grid;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.mapa{
    display: grid;
    object-fit: cover;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}