.contenedor{
    width: 100%;
    height: 100px;
    background-image: url(../assets/img/cookie.jpg);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.cards2{
    display: flex;
    padding-top: 100px;
    gap: 50px;
}
.descuento{
    padding-top: 200px;
    text-align: center;
}

.oferta{
    text-align: center;
    background-color: $color-terciario;
    padding-bottom: 20px;
    padding-top: 20px;
}

.vendidos{
    padding-top: 50px;
    font-family: yessy;
    color: $color-principal;
}
.productosVendidos{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}