
.nosotros{
    display: flex;
    font-family: yessy;
    color: $color-principal;
    padding-top: 150px;    
    margin-top: 10px;
    justify-content: center;
}

.Descripcion{
    justify-content: center;
    display: flex;
    text-align: justify;
    padding-top: 50px;
}

.galeria-imagenes{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.img3{
    padding-top: 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

