.contacto{
    background-image: url(../assets/img/mini-tarta-lemon.jpg);
    background-size: cover;
    height: 70vh;
}
.envios{
    @include tipografia;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-left: 80px;

}
.contacto2{
    @include tipografia;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.pueblo{
    display: flex;
    gap: 15px;
}
.horario{
    @extend .pueblo;
}
.telefonos{
    @extend .pueblo;
}
.formulario{
    object-fit: cover;
    align-content: center;
    justify-content: center;
    display: flex;
}
.fieldset{
    gap: 10px;

}
.masInformacion{
    @include tipografia;
}
.mapa{
    display: flex;
    object-fit: cover;
    justify-content: center;
}