.contacto{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../assets/img/mini-tarta-lemon.jpg);
    background-size: cover;
    height: 100vh;
}
.envios{
    display: grid;
    font-size: 16px;
    font-family: yessy;
    color: $color-principal;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.contacto2{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: yessy;
    margin-top: 80px;
}
.pueblo{
    display: flex;
    gap: 15px;
}
.horario{
    display: flex;
    gap: 15px;
}
.telefonos{
    display: flex;
    gap: 15px;
}
.formulario{
    display: grid;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    justify-content: center;
    margin-left: 250px;
}
.masInformacion{
    font-family: yessy;
}
.mapa{
    display: grid;
    object-fit: cover;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 200px;
}