@media (max-width:375px){
    .navbar{
        text-align: center;
    }
    
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
}
    
    