
@media (max-width:425px){
    .navbar{
        text-align: center;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-img, .card-img-bottom, .card-img-top {
    
    display: flex;
    align-self: center;
    }

}